:root {
  --primary-light:#ffb9eb;
  --primary:#ddacc2;
  --primary-dark:#af478e;
  --primary-transparency:#af478e80;
  --secondary-light:#333333;
  --secondary:#232323;
  --secondary-dark:#1a1a1a;
  --secondary-transparency:#23232380;
  --tertiary-light:#f4d4bf;
  --tertiary:#fbb03b;
  --tertiary-dark:#ed9564;
  --tertiary-transparency:#fbb03b80;
  --accent-light:#ddffbd;
  --accent:#bbff80;
  --accent-dark:#80a85a;
  --accent-transparency:#bbff8080;
  --light:#f9eaf9;
  --dark:#0e0e0e;
  --branco:#fff;
  --branco-transparency:#ffffff80;
}

/* 
--------------------------------
GERAIS
--------------------------------
*/
* {
  transition: all 0.3s ease-in-out;
}

html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  font-family: "Lufga", sans-serif;
}

.ft-primary {
  font-family: "Lufga", sans-serif !important;
}

/* COR DAS FONTES */
.c-primary {
  color: var(--primary) !important;
}
.c-secondary {
  color: var(--secondary) !important;
}
.c-accent {
  color: var(--accent) !important;
}
.c-light {
  color: var(--light) !important;
}
.c-dark {
  color: var(--dark) !important;
}
.c-branco {
  color: var(--branco) !important;
}

/* COR DOS FUNDOS */
.b-primary {
  background-color: var(--primary) !important;
}
.b-secondary {
  background-color: var(--secondary) !important;
}
.b-accent {
  background-color: var(--accent) !important;
}
.b-light {
  background-color: var(--light) !important;
}
.b-dark {
  background-color: var(--dark) !important;
}
.b-branco {
  background-color: var(--branco) !important;
}

/* COR DA BORDA */
/* PESO DA BORDA */
.border-primary {
  border-color: var(--primary) !important;
}
.border-secondary {
  border-color: var(--secondary) !important;
}
.border-accent {
  border-color: var(--accent) !important;
}
.border-light {
  border-color: var(--light) !important;
}
.border-dark {
  border-color: var(--dark) !important;
}
.border-branco {
  border-color: var(--branco) !important;
}
.border-1 {
  border-style: solid;
  border-width: 1px;
}
.border-2 {
  border-style: solid;
  border-width: 2px;
}
.border-3 {
  border-style: solid;
  border-width: 3px;
}
.border-4 {
  border-style: solid;
  border-width: 4px;
}
.border-5 {
  border-style: solid;
  border-width: 5px;
}
.border-radius-05 {
  border-radius: 0.5rem;
}
.border-radius-075 {
  border-radius: 0.75rem;
}
.border-radius-1 {
  border-radius: 1rem;
}
.border-radius-15 {
  border-radius: 1.5rem;
}
.border-radius-2 {
  border-radius: 2rem;
}
.border-radius-25 {
  border-radius: 2.5rem;
}

/* PESO DAS FONTES */
.fw-100 {
  font-weight: 100 !important;
}
.fw-200 {
  font-weight: 200 !important;
}
.fw-300 {
  font-weight: 300 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.fw-800 {
  font-weight: 800 !important;
}
.fw-900 {
  font-weight: 900 !important;
}

/* ALINHAMENTO */
.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-v {
  display: flex;
  align-items: center;
}
.center-h {
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */