
$primary-light:var(--primary-light);
$primary:var(--primary);
$primary-dark:var(--primary-dark);

$primary-transparency:var(--primary-transparency);

$secondary-light:var(--secondary-light);
$secondary:var(--secondary);
$secondary-dark:var(--secondary-dark);

$secondary-transparency:var(--secondary-transparency);

$tertiary-light:var(--tertiary-light);
$tertiary:var(--tertiary);
$tertiary-dark:var(--tertiary-dark);

$tertiary-transparency:var(--tertiary-transparency);

$accent-light:var(--accent-light);
$accent:var(--accent);
$accent-dark:var(--accent-dark);

$accent-transparency:var(--accent-transparency);

$light:var(--light);
$light-transparency:var(--light-transparency);
$dark:var(--dark);
$dark-transparency:var(--dark-transparency);
$branco:var(--branco);
$branco-transparency:var(--branco-transparency);




/*
  [data-aos="card-hover-mb"] {
    
    opacity: 0;
    transition-property: transform, opacity;
  
    &.aos-animate {
      opacity: 1;
    }

  
    @media screen and (max-width: 768px) {
      box-shadow: 0px 0px 0px 0px var(--accent);
  
      &.aos-animate {
        box-shadow: 0px 0px 10px 0px var(--accent);
      }
    }
  }
  */


  

/* 
--------------------------------
GERAIS
--------------------------------
*/

body{
  position: relative;
  background: $primary;
  color: $primary-dark;
  min-height: 100vh;
  background-image: url(../images/bg-aramados.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* BOTÕES */
.btn-{
  &primary{
    border-color: $primary-dark;
    background-color: $primary-dark;
    color: $branco;
    transition: .5s all ease-in-out;

    &:hover{
      background-color: $primary-light;
      border-color: $primary-light;
      color: $primary-dark;
    }

    &:active{
      background-color: $primary-light!important;
      border-color: $primary-light;
      color:$primary-dark!important;
    }

    &:focus-visible{
      outline: $light auto 1px;
    }

    &:focus{
      box-shadow: 0 0 0 0rem $accent;
    }
    
  }
  &outline-primary{
    border: 1px solid;
    background: transparent;
    border-color: $primary;
    color: $primary;
    transition: .5s all ease-in-out;

    &:hover{
      background-color: $primary;
      border-color: $primary;
      color: $branco;
    }

    &:active{
      background-color: $primary!important;
      border-color: $primary!important;
      color:$branco;
    }

    &:focus-visible{
      outline: $primary auto 1px;
    }

    &:focus{
      box-shadow: 0 0 5px 0 $accent!important;
    
    }
  }
  &secondary{
    border-color: $secondary;
    background-color: $secondary;
    color: $branco;
    transition: .5s all ease-in-out;

    &:hover{
      background-color: $secondary-dark;
    }

    &:active{
      background-color: $primary-light!important;
      border-color: $primary-light!important;
      color:$branco;
    }

    &:focus-visible{
      outline: $accent auto 1px;
    }

    &:focus{
      box-shadow: 0 0 0 0rem $accent;
    }
  }
  &outline-secondary{
    background: transparent;
    border-color: $secondary;
    color: $secondary;
    transition: .5s all ease-in-out;

    &:hover{
      background-color: $secondary;
      border-color: $secondary;
      color: $branco;
    }

    &:active{
      background-color: $secondary-light!important;
      border-color: $secondary-light!important;
      color:$branco;
    }

    &:focus-visible{
      outline: $secondary auto 1px;
    }

    &:focus{
      box-shadow: 0 0 0 0.2rem $accent!important;
    
    }
  }
  &accent{
    border-color: $accent!important;
    background-color: $accent!important;
    color: $branco!important;
    transition: .5s all ease-in-out;

    &:hover{
      background-color: $primary!important;
    }

    &:active{
      background-color: $primary-light!important;
      border-color: $primary-light!important;
      color:$branco;
    }

    &:focus-visible{
      outline: $accent auto 1px!important;
    }

    &:focus{
      box-shadow: 0 0 0 0.1rem $accent!important;
    }
  }
  &outline-accent{
    background: transparent;
    border-color: $accent;
    color: $accent;
    transition: .5s all ease-in-out;

    &:hover{
      background-color: $accent;
      border-color: $accent;
      color: $branco;
    }

    &:active{
      background-color: $primary-light!important;
      border-color: $primary-light!important;
      color:$branco;
    }

    &:focus-visible{
      outline: $accent auto 1px;
    }

    &:focus{
      box-shadow: 0 0 0 0.2rem $accent!important;
    
    }
  }
  &branco{
    border-color: $branco!important;
    background-color: $branco!important;
    color: $primary!important;
    transition: .5s all ease-in-out;

    &:hover{
      background-color: $light!important;
    }

    &:active{
      background-color: $branco-transparency!important;
      border-color: $branco-transparency!important;
      color:$primary;
    }

    &:focus-visible{
      outline: $branco auto 1px!important;
    }

    &:focus{
      box-shadow: 0 0 0 0.1rem $branco!important;
    }
  }
  &outline-branco{
    background: transparent;
    border-color: $branco;
    color: $branco;
    transition: .5s all ease-in-out;

    &:hover{
      background-color: $branco;
      border-color: $branco;
      color: $primary;
    }

    &:active{
      background-color: $branco-transparency!important;
      border-color: $branco-transparency!important;
      color:$primary;
    }

    &:focus-visible{
      outline: $branco auto 1px;
    }

    &:focus{
      box-shadow: 0 0 0 0.2rem $branco!important;
    
    }
  }

  &click{
    box-shadow: -3px 3px 0 $secondary!important;
    transition:all 0.3s ease-in-out;

    &:hover{
      transform: translateX(-2px) translateY(2px);
      box-shadow: -1px 1px 0 $secondary!important;
    }
    
    &:active{
      transform: translateX(-4px) translateY(4px);
      box-shadow: 0px 0px 0 $secondary!important;
    }
  }

  &aramado{
    border: 1px solid $secondary-dark!important;
    box-shadow: -3px 3px 0 $secondary!important;
    transition:all 0.3s ease-in-out;

    
  }



}


.navbar{
  .nav-text{
    z-index: 1001;
    position: relative;
  }
  


}

// PÁGINA DE CONTATO
#contato{
  .logo{
    min-width: 500px;
    max-width: 500px;
    width: 500px;
    @media (max-width:992px) {
      min-width: 300px;
      max-width: 300px;
      width: 300px;
    }
  }

  .title{
    h1{
      max-width: 500px;
    }
    h5{
      max-width: 450px;
    }
  }

  .form-control{
    background-color: $branco-transparency;
    &:hover, &:focus, &:focus-visible{
      background-color: $accent-transparency;
      outline: 0!important;
    }
  }
  .form-check-input:checked{
    background-color: $accent-dark!important;
  } 
}

//PÁGINA DE OBRIGADO
#obrigado{
  .logo{
    min-width: 300px;
    max-width: 300px;
    width: 300px;
    @media (max-width:992px) {
      min-width: 230px;
      max-width: 230px;
      width: 230px;
    }
  }
}

#marinaflor{
  height: 60px;
}
#end{
  //position: relative;
  height: 85px;
}
footer{
  bottom: 0;
  position: absolute;
  z-index: 1001;
  height: 85px;
  width: 100%;
  .small{
    font-size: .7rem;
  }

  
  a{
    text-decoration: none;
    color: $primary-dark;
    position: relative;

    &:hover{
      span{
      opacity: 1;

      &.jroque{
        right: 45px;
      }
      &.believe{
        right: -88px;
      }
      }
    }

    span{
      opacity: 0;
      transition: all .3s ease-in-out;
      will-change: opacity;
      position: absolute;
      white-space: nowrap;
      top: 6px;
      
      &.jroque{
        right: 08px;
        
      }
      &.believe{
        right: -55px;

      }
    }
    svg{
      height: 30px;
      fill: $primary-dark;
      filter: drop-shadow( 0 0 0.1rem $primary-transparency);
      &:hover{
        filter: drop-shadow( 0 0 0.3rem $primary-transparency);
      }
      &:active{
        transform: translate(3px, 3px);
        filter: drop-shadow( 0 0 0.6rem $primary-transparency);
      }
    }
  }

}






