@charset "UTF-8";
@keyframes startline {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes startfill {
  to {
    fill-opacity: 1;
  }
}
@keyframes seta {
  to {
    fill-opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
@keyframes animateElement {
  0% {
    transform: rotate(0deg) scale(1);
  }
  10% {
    transform: rotate(8deg) scale(1.05);
  }
  20% {
    transform: rotate(16deg) scale(1.1);
  }
  30% {
    transform: rotate(24deg) scale(1.1);
  }
  40% {
    transform: rotate(16deg) scale(1.15);
  }
  50% {
    transform: rotate(24deg) scale(1.2);
  }
  60% {
    transform: rotate(32deg) scale(1.15);
  }
  70% {
    transform: rotate(24deg) scale(1);
  }
  80% {
    transform: rotate(16deg) scale(1.1);
  }
  90% {
    transform: rotate(8deg) scale(1.1);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
/*
  [data-aos="card-hover-mb"] {

    opacity: 0;
    transition-property: transform, opacity;

    &.aos-animate {
      opacity: 1;
    }


    @media screen and (max-width: 768px) {
      box-shadow: 0px 0px 0px 0px var(--accent);

      &.aos-animate {
        box-shadow: 0px 0px 10px 0px var(--accent);
      }
    }
  }
  */
[data-aos=hr-expand] {
  width: 0%;
}
[data-aos=hr-expand].aos-animate {
  width: 100%;
}

/* 
--------------------------------
GERAIS
--------------------------------
*/
body {
  background: var(--secondary);
  background-image: radial-gradient(at 100% 0%, hsl(41, 0%, 25%) 0px, transparent 50%), radial-gradient(at 60% 3%, hsl(0, 0%, 25%) 0px, transparent 50%), radial-gradient(at 83% 38%, hsl(0, 0%, 25%) 0px, transparent 50%), radial-gradient(at 38% 18%, hsl(0, 0%, 25%) 0px, transparent 50%), radial-gradient(at 10% 56%, hsl(0, 0%, 25%) 0px, transparent 50%), radial-gradient(at 0% 100%, hsl(0, 0%, 25%) 0px, transparent 50%), radial-gradient(at 71% 98%, hsl(0, 0%, 25%) 0px, transparent 50%), radial-gradient(at 33% 75%, hsl(0, 0%, 25%) 0px, transparent 50%), radial-gradient(at 100% 100%, hsl(34, 83%, 50%) 0px, transparent 50%), radial-gradient(at 0% 0%, hsl(21, 77%, 50%) 0px, transparent 50%), url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='9.5' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  color: var(--branco);
}

/* BOTÕES */
.btn-primary {
  border-color: var(--primary-dark);
  background-color: var(--primary-dark);
  color: var(--branco);
  transition: 0.5s all ease-in-out;
}
.btn-primary:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--branco);
}
.btn-primary:active {
  background-color: var(--primary-light) !important;
  border-color: var(--primary-light) !important;
  color: var(--branco);
}
.btn-primary:focus-visible {
  outline: var(--light) auto 1px;
}
.btn-primary:focus {
  box-shadow: 0 0 0 0rem var(--accent);
}
.btn-outline-primary {
  border: 1px solid;
  background: transparent;
  border-color: var(--primary);
  color: var(--primary);
  transition: 0.5s all ease-in-out;
}
.btn-outline-primary:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--branco);
}
.btn-outline-primary:active {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
  color: var(--branco);
}
.btn-outline-primary:focus-visible {
  outline: var(--primary) auto 1px;
}
.btn-outline-primary:focus {
  box-shadow: 0 0 5px 0 var(--accent) !important;
}
.btn-secondary {
  border-color: var(--secondary);
  background-color: var(--secondary);
  color: var(--branco);
  transition: 0.5s all ease-in-out;
}
.btn-secondary:hover {
  background-color: var(--secondary-dark);
}
.btn-secondary:active {
  background-color: var(--primary-light) !important;
  border-color: var(--primary-light) !important;
  color: var(--branco);
}
.btn-secondary:focus-visible {
  outline: var(--accent) auto 1px;
}
.btn-secondary:focus {
  box-shadow: 0 0 0 0rem var(--accent);
}
.btn-outline-secondary {
  background: transparent;
  border-color: var(--secondary);
  color: var(--secondary);
  transition: 0.5s all ease-in-out;
}
.btn-outline-secondary:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--branco);
}
.btn-outline-secondary:active {
  background-color: var(--secondary-light) !important;
  border-color: var(--secondary-light) !important;
  color: var(--branco);
}
.btn-outline-secondary:focus-visible {
  outline: var(--secondary) auto 1px;
}
.btn-outline-secondary:focus {
  box-shadow: 0 0 0 0.2rem var(--accent) !important;
}
.btn-accent {
  border-color: var(--accent) !important;
  background-color: var(--accent) !important;
  color: var(--branco) !important;
  transition: 0.5s all ease-in-out;
}
.btn-accent:hover {
  background-color: var(--primary) !important;
}
.btn-accent:active {
  background-color: var(--primary-light) !important;
  border-color: var(--primary-light) !important;
  color: var(--branco);
}
.btn-accent:focus-visible {
  outline: var(--accent) auto 1px !important;
}
.btn-accent:focus {
  box-shadow: 0 0 0 0.1rem var(--accent) !important;
}
.btn-outline-accent {
  background: transparent;
  border-color: var(--accent);
  color: var(--accent);
  transition: 0.5s all ease-in-out;
}
.btn-outline-accent:hover {
  background-color: var(--accent);
  border-color: var(--accent);
  color: var(--branco);
}
.btn-outline-accent:active {
  background-color: var(--primary-light) !important;
  border-color: var(--primary-light) !important;
  color: var(--branco);
}
.btn-outline-accent:focus-visible {
  outline: var(--accent) auto 1px;
}
.btn-outline-accent:focus {
  box-shadow: 0 0 0 0.2rem var(--accent) !important;
}
.btn-branco {
  border-color: var(--branco) !important;
  background-color: var(--branco) !important;
  color: var(--primary) !important;
  transition: 0.5s all ease-in-out;
}
.btn-branco:hover {
  background-color: var(--light) !important;
}
.btn-branco:active {
  background-color: var(--branco-transparency) !important;
  border-color: var(--branco-transparency) !important;
  color: var(--primary);
}
.btn-branco:focus-visible {
  outline: var(--branco) auto 1px !important;
}
.btn-branco:focus {
  box-shadow: 0 0 0 0.1rem var(--branco) !important;
}
.btn-outline-branco {
  background: transparent;
  border-color: var(--branco);
  color: var(--branco);
  transition: 0.5s all ease-in-out;
}
.btn-outline-branco:hover {
  background-color: var(--branco);
  border-color: var(--branco);
  color: var(--primary);
}
.btn-outline-branco:active {
  background-color: var(--branco-transparency) !important;
  border-color: var(--branco-transparency) !important;
  color: var(--primary);
}
.btn-outline-branco:focus-visible {
  outline: var(--branco) auto 1px;
}
.btn-outline-branco:focus {
  box-shadow: 0 0 0 0.2rem var(--branco) !important;
}
.btn-click {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
.btn-click:hover {
  transform: translateX(2px) translateY(2px);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.btn-click:active {
  transform: translateX(4px) translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}
.btn-glow {
  padding: 16px 24px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.01);
}
.btn-glow:hover {
  color: var(--branco) !important;
}
.btn-glow:hover::after {
  transform: translateY(-5px);
}
.btn-glow::after {
  position: absolute;
  content: "";
  top: 15px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.9) translateZ(0);
  filter: blur(15px);
  background: linear-gradient(to left, var(--primary), var(--accent), var(--primary-dark), var(--accent), var(--primary-light), var(--accent));
  background-size: 200% 200%;
  animation: animateGlow 2s linear infinite;
}

.section-brake hr {
  margin: 0;
  margin-bottom: -16px;
  z-index: -1;
  position: relative;
  border-top: var(--secondary-light) 1px solid;
  border-bottom: var(--dark) 1px solid;
}
.section-brake .seta-down {
  background: var(--accent);
  border-radius: 100px;
  height: 32px;
  width: 32px;
  padding: 0.25rem;
  margin: auto;
}
.section-brake .seta-down #down {
  width: 100%;
  fill: var(--secondary);
}

.bg-shadow {
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(64, 64, 64, 0.6666666667);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  opacity: 0;
  transition: opacity 0.5s;
}
.bg-shadow.dark {
  background-color: rgba(46, 46, 46, 0.6666666667);
}

.navbar .nav-text {
  z-index: 1001;
  position: relative;
}

#home {
  min-height: 100vh;
  background: linear-gradient(90deg, #2e2e2e 20%, rgba(46, 46, 46, 0) 100%);
  overflow: hidden;
  position: relative;
}
#home::after, #home::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
}
#home::before {
  filter: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='9.5' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-color: var(--secondary-dark);
  z-index: -1;
}
#home::after {
  background-image: url(../images/icon.svg);
  background-size: 100px;
  background-position: bottom;
  background-attachment: fixed;
  opacity: 0.3;
}
#home svg {
  transition: all 5s ease-in-out;
}
#home svg #start {
  stroke: var(--branco);
  stroke-width: 0.25px;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: startline 1s ease-in forwards;
}
#home svg #start path {
  fill-opacity: 0;
  fill: var(--branco);
  animation: startfill 0.5s 1.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
#home svg #start #seta {
  fill: var(--accent);
  fill-opacity: 0;
  stroke: var(--accent);
  transform: translate(-7px, 18px);
  animation: seta 0.5s 1.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
#home p {
  width: 60%;
}
@media (max-width: 470px) {
  #home p {
    width: 70%;
  }
}
@media (max-width: 405px) {
  #home p {
    width: 80%;
  }
}
#home .bigger {
  transform: scale(1.2);
  filter: drop-shadow(0px 4px 6px var(--dark));
}

.end {
  position: relative;
}

footer {
  bottom: 0;
  position: absolute;
  z-index: 1001;
  height: 85px;
  width: 100%;
}
footer .small {
  font-size: 0.7rem;
}
footer a {
  text-decoration: none;
  color: var(--light);
  position: relative;
}
footer a:hover span {
  opacity: 1;
}
footer a:hover span.jroque {
  right: 45px;
}
footer a:hover span.believe {
  right: -88px;
}
footer a span {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  will-change: opacity;
  position: absolute;
  white-space: nowrap;
  top: 6px;
}
footer a span.jroque {
  right: 8px;
}
footer a span.believe {
  right: -55px;
}
footer a svg {
  height: 30px;
  fill: var(--light);
  filter: drop-shadow(0 0 0.1rem var(--primary-transparency));
}
footer a svg:hover {
  filter: drop-shadow(0 0 0.3rem var(--primary-transparency));
}
footer a svg:active {
  transform: translate(3px, 3px);
  filter: drop-shadow(0 0 0.6rem var(--primary-transparency));
}/*# sourceMappingURL=style.css.map */